<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="p-4 sm:ml-64">
  <div class="md:mt-[50px] mt-[60px]">
    <div class="w-[100%] bg-white border border-gray-200 rounded-lg shadow-sm">
      <div class="p-5">
        <a class="cursor-pointer" routerLink="/dashboard">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#411E62]">
            Analisi nuova lastra
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">
          Attraverso questo servizio puoi verificare se nelle tue lastre è presente una frattura.<br>
          Il file della lastra verrà salvato nel archivio a cui puoi accedere mediante la sidebar laterale (menu alla tua sinistra).<br>
          In conformità con il GDPR puoi rimuoverlo dall'archivio in qualsiasi momento, la rimozione del file qualora tu ne faccia richiesta sarà definitiva verrà rimosso sia dall'archivio che dal cloud.
        </p>
      </div>
    </div>
  </div>
</div>
