<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-16 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-0 pb-4 overflow-y-auto bg-white border-l-purple-600">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="/dashboard"
          class="border-b-[#411E62] border-b-[1px] cursor-pointer flex items-center py-2 pl-[20px] text-[#411E62] hover:text-white hover:bg-[#411E62] group"
        >
          <img src="assets/icons8-dashboard-94.png" class="w-5 h-5" alt="dashboard-icon" />
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/dashboard/analisi/nuova"
          class="border-b-[#411E62] border-b-[1px] cursor-pointer flex items-center py-2 pl-[20px] text-[#411E62] hover:text-white hover:bg-[#411E62] group"
        >
          <img src="assets/icons8-financial-growth-analysis-48.png" class="w-5 h-5" alt="analisi-lastra-icon" />
          <span class="ms-3">Analisi nuova lastra</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/dashboard/analisi/storico"
          class="border-b-[#411E62] border-b-[1px] cursor-pointer flex items-center py-2 pl-[20px] text-[#411E62] hover:text-white hover:bg-[#411E62] group"
        >
          <img src="assets/icons8-archive-folder-48.png" class="w-5 h-5" alt="storico-analisi-icon" />
          <span class="ms-3">Storico analisi</span>
        </a>
      </li>
    </ul>
    <div class="md:mt-[65vh] p-[25px] text-center text-gray-500 mt-[40vh]"><i>Progettato e sviluppato dal Dott. Luca Santoro</i></div>
  </div>
</aside>
